<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Develop your own games!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/developPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;600&family=Shrikhand&display=swap" rel="stylesheet">
    <style media="screen">

      @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
      * {margin: 0; padding: 0; font-family: 'Poppins', sans-serif;}
      body {width: 90%;}
      b {display: inline-block; margin-left: 50px; margin-top: 20px; cursor: pointer;}
      section div {width: 100vw; height: 100vh;} 
      
 nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  } 
}
    </style>
  </head>
  <body>
    <nav>
      <div class="logo">
         LEGO
      </div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
      </label>
      <ul>
         <li><a href="gameTab.html">Games</a></li>
         <li><a href="rankingTab.html">Ranking</a></li>
         <li><a href="communityTab.html">Community</a></li>
         <li><a class="active" href="developTab.html">Develop</a></li>
         <li><a href="myPageTab.ejs.html">MyPage</a></li>
      </ul>
   </nav>
    </section>

    <section>
      <div id="window1">
        <div id="intro">
          <h1>Develop your own games!</h1>
          <h3>GDevelop을 활용하여 직접 게임을 개발해 보세요.</h3>
          <img style = "padding-left:15%; padding-top:5%;" src="/images/gdevelop6.png" alt="">
        
          <iframe style="padding-left:27.5%; padding-top:10%;" width="690" height="443" src="https://www.youtube.com/embed/w8B84Dpgkjc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div id="window2" style = "padding-top:450px;">
        <img style="padding-left: -50px;" id="mock" src="/images/gdevelop2.png" alt="">
        <div id="myself">
          <h1><br>오픈소스!</h1>
          <h2>이 GDevelop은 무료로 해줍니다.<br>누구나 사용할 수 있을 만큼 매우 쉽기까지!<br>심지어 크래스 플랫폼을 지원하죠.</h2>
        </div>
      </div>


      <div id="window2" style = "padding-top:150px;">
        <div id="myself">
          <h1 style="padding-left: -50px;">교육용으로도!</h1>
          <h2>미국에선 이미 코딩 수업에서 사용 중이죠.<br>학생들도 쉽게 따라한답니다!<br>프로그램 설치없이 웹에서도 가능해요!</h2>
        </div>

        <img style = "width: 100px;"id="mock" src="/images/gdevelop_book.png" alt="">
      </div>

      <div id="window3">
        <h1>Speciality</h1>
        <div class="container">
          <div class="hobby">
            <img class="hobby_img" style="width:300px; height: 200px;" src="/images/gdevelop3.png" alt="">
            <p class="hobby_text">오픈소스 크로스플랫폼</p>
          </div>
          <div class="hobby">
            <img class="hobby_img" style="width:300px; height: 200px;" src="/images/gdevelop4.png" alt="">
            <p class="hobby_text">이벤트 기반 비주얼 프로그래밍</p>
          </div>
          <div class="hobby">
            <img class="hobby_img" style="width:300px; height: 200px;" src="/images/gdevelop5.png"  alt="">
            <p class="hobby_text">웹에서도 개발 가능</p>
          </div>
        </div>
      </div>
<!-- 
      <div id="window4">
        <h1><span>TMI</span> 대잔치 &#128221;</h1>
        <div class="tmicontainer">
          <div class="tmilist">
            <p id="tmi1">생일</p>
            <p id="tmi2">가족관계</p>
            <p id="tmi3">고향</p>
          </div>
          <div class="tmilist">
            <p id="tmi4">아아 vs 뜨아</p>
            <p id="tmi5">애플 vs 삼성</p>
            <p id="tmi6">소주 vs 맥주</p>
          </div>
          <div class="tmilist">
            <p id="tmi7">맛집추천</p>
            <p id="tmi8">최애 여행지</p>
            <p id="tmi9">MBTI</p>
          </div>
        </div>
      </div> -->

      <div id="window5">
        <h1>Contact Us</h1>
        <h1>Publish your games</h1>
        <div class="imglist">
          <a href="mailto:angella@gmail.com">
            <img src="https://img.icons8.com/ios/150/000000/apple-mail.png"/>
          </a>
          <a href="https://www.instagram.com/thisisyourhyung">
            <img src="https://img.icons8.com/ios/144/000000/instagram-new--v1.png"/>
          </a>
          <a href="https://velog.io/@hyounglee">
            <img src="https://img.icons8.com/ios/128/000000/blogger.png"/>
          </a>
          <a href="https://github.com/MiaJLee">
            <img src="https://img.icons8.com/material-sharp/192/000000/github.png"/>
          </a>
          <a href="https://www.youtube.com"><img src="https://img.icons8.com/small/128/000000/youtube--v1.png"/>
          </a>
        </div>
      </div>


      <div id="window5">
        <h1>GDevelop 사용해보기</h1>
        <a href="mailto:angella@gmail.com">
          <div class="imglist">
            <img style ="width:500px;" src="/images/gdevelop.png"/>
          </div>
        </a>
      </div>
    </section>
    <script type="text/javascript" src="app.js"></script>

  </body>
</html>