<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>LEGO</title>
      <link rel="stylesheet" href="/css/gamePage.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <nav>
         <div class="logo">
            LEGO
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
            <li><a class="active" href="/games">Games</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/board">Community</a></li>
            <li><a href="/developer">Developer</a></li>
            <li><a href="/mypage">My Page</a></li>
         </ul>
      </nav>
  <div class="bottom">
      <table>
        <tr>
            <td style="background-image: url('/images/gameImage1.png'); background-size: cover;" onClick="location.href='/gamepage'">승규마리오<br>바보</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
      </table>
  </div>
   </body>
</html>