<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>LEGO</title>
      <link rel="stylesheet" href="assets/css/gamePage.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <nav>
         <div class="logo">
            LEGO
         </div>
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
            <li><a class="active" href="/games">Games</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/board">Community</a></li>
            <li><a href="/developer">Developer</a></li>
            <li><a href="/others">Others</a></li>
         </ul>
      </nav>
      <ul>
         <li><iframe src="https://game-previews.gdevelop-app.com/1621834637200-684896/index.html" name="a"></iframe>></li>
      </ul>
    <!-- <div class="bottom">
         <iframe src="https://games.gdevelop-app.com/game-32a87551-916a-4f34-b388-b10ec161f523/index.html" name="a"></iframe>
    </div> -->
  </div>
   </body>
</html>