<!DOCTYPE HTML>
<html>
	<head>
		<title>LEGO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />

	</head>
	<body class="is-preload">

		<video autoplay loop muted>
			<source src="/assets/img/login_background.mp4" type="video/mp4">
		</video>

		<!-- Header -->
			<header id="header">
				<h1>LEGO</h1>
				<p>
					LEGO 게임타운에 오신 것을 환영합니다.<br/>
					즐거운 시간 보내시길 바랍니다.
				</p>
			</header>



		<!-- Modified 20210531 -->
		<!-- Processing with JQuery -->
		<!-- Signin Form -->
		<form class="signin-form" action="/signin" method="POST" enctype="application/json">
			<input type="id" name="email" id="email" placeholder="Your Email" />
			<input type="password" name="password" id="password" placeholder="PASSWORD" />
			<input type="button" value="Sign Up" onClick="location.href='/signup'"/>
			<input type="submit" value="Sign In" />
			<br>
			<br>
		</form>
		</form>
		
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Lee, Kwak, Hwang, Yang.</li><li>Credits: <a href="http://www.knu.ac.kr">knu</a></li>
				</ul>
			</footer>

	</body>
</html>