<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>LEGO</title>
      <link rel="stylesheet" href="/css/gamePage.css">
      <link rel="stylesheet" href="/css/rankingPage.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <nav>
         <div class="logo">
            LEGO
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
          <li><a href="/games">Games</a></li>
          <li><a class="active" href="/ranking">Ranking</a></li>
          <li><a href="/board">Community</a></li>
          <li><a href="/developer">Developer</a></li>
          <li><a href="/others">Others</a></li>
        </ul>
      </nav>
  <div class="bottom">
    <div class="container">
        <header>
          <div class="NameTab">
            
            <h1 onclick="location.href='/games'"><</h1>

            <h1>승규마리오 랭킹</h1>

            <h1 onclick="location.href='/games'">></h1>
          </div>
        </header>
        <div class="wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>+/-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
            <td class="rank">1</td>
            <td class="team">Spain</td>
            <td class="points">1460</td>
            <td class="up-down">0</td>
          </tr>
                  <tr>
            <td class="rank">2</td>
            <td class="team">Germany</td>
            <td class="points">1340</td>
            <td class="up-down">0</td>
          </tr>
            <tr>
            <td class="rank">3</td>
            <td class="team">Portugal</td>
            <td class="points">1245</td>
            <td class="up-down">0</td>
          </tr>
            <tr>
            <td class="rank">4</td>
            <td class="team">Brazil</td>
            <td class="points">1210</td>
            <td class="up-down">+2</td>
          </tr>
            <tr>
            <td class="rank">5</td>
            <td class="team">Colombia</td>
            <td class="points">1186</td>
            <td class="up-down">-1</td>
          </tr>
            <tr>
            <td class="rank">6</td>
            <td class="team">Uruguay</td>
            <td class="points">1181</td>
            <td class="up-down">-1</td>
          </tr>
            <tr>
            <td class="rank">7</td>
            <td class="team">Argentina</td>
            <td class="points">1178</td>
            <td class="up-down">-1</td>
          </tr>
            <tr>
            <td class="rank">8</td>
            <td class="team">Switzerland</td>
            <td class="points">1161</td>
            <td class="up-down">0</td>
          </tr>
            <tr>
            <td class="rank">9</td>
            <td class="team">Italy</td>
            <td class="points">1115</td>
            <td class="up-down">0</td>
          </tr> 
        </tbody>
            </table>
        </div>
    </div>
  </div>
   </body>
</html>