<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="/css/signUpPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">



      <form action="/signup" method="POST" enctype="application/json">
        <div class="user-details">

          <div class="input-box">
            <span class="details">e-mail</span>
            <input 
              type="text" 
              placeholder="Enter your email" 
              id="email"
              name="email"
              required>
          </div>

          <div class="input-box">
            <span class="details">Age</span>
            <input 
              type="text" 
              placeholder="Enter your age" 
              id="age"
              name="age"
              required>
          </div>

          <div class="input-box">
            <span class="details">Password</span>
            <input 
              type="text" 
              placeholder="Enter your password" 
              id="password"
              name="password"
              required>
          </div>

          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input 
              type="text" 
              placeholder="Confirm your password" 
              id="confirm_password"
              name="confirm_password"
              required>
          </div>

        </div>

        <!-- Radio button to select gender -->
        <div class="gender-details">
          <input type="radio" name="sex" id="dot-1" value="m">
          <input type="radio" name="sex" id="dot-2" value="f">

          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>

          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          </div>
        </div>


        <div class="button">
          <input type="submit" value="Register">
        </div>

      </form>



    </div>
  </div>

</body>
</html>
