<!DOCTYPE HTML>
<html>
	<head>
		<title>LEGO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<style>
			
			@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
		</style>
	</head>
	<body class="is-preload">

		<video autoplay loop muted>
			<source src="/assets/img/login_background.mp4" type="video/mp4">
		</video>

		<center>
		<!-- Header -->
			<header id="header">
				<!-- <h1 style="font-size: 10em;">LEGO</h1> -->
				<img src = "/assets/img/LEGO.png">
				<br>
			</header>
			<br>



		<!-- Modified 20210531 -->
		<!-- Processing with JQuery -->
		<!-- Signin Form -->
		<form style="margin-left: -1.5em;" class="signin-form" action="/signin" method="POST" enctype="application/json">
			<input type="id" name="userId" id="userId" placeholder="ID" />
			<input type="password" name="password" id="password" placeholder="PASSWORD" /><br/>
			<input type="button" value="Sign Up" onClick="location.href='/signup'"/>
			<input type="submit" value="Sign In" />
		</form>
		</form>
	</center>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://github.com/ndo04343/LEGO" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://github.com/ndo04343/LEGO" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/ndo04343/LEGO" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="https://github.com/ndo04343/LEGO" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Lee, Kwak, Hwang, Yang.</li><li>Credits: <a href="http://www.knu.ac.kr">knu</a></li>
				</ul>
			</footer>
		
	</body>
</html>