<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>LEGO</title>
      <link rel="stylesheet" href="/css/gamePage.css">
      <link rel="stylesheet" href="/css/rankingPage.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        </style>
   </head>
   <body>
      <nav>
         <div class="logo">
            LEGO
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
          <li><a href="/games">Games</a></li>
          <li><a class="active" href="/ranking">Ranking</a></li>
          <li><a href="/board">Community</a></li>
          <li><a href="/developer">Developer</a></li>
          <li><a href="/mypage">My Page</a></li>
        </ul>
      </nav>
  <div class="bottom">
    <div class="container">
        <header>
          <div class="NameTab">
            
            <h1 onclick="location.href='/ranking'"></h1>

            <h1 style="color:black; font-weight: bold;"><%= game.gameName %></h1>
          </div>
        </header>
        <div class="wrapper">
            <table>
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>아이디</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                  <% for (var i = 0; i < gamelogs.length; i++) { %>
                    <tr>
                      <td><%= i+1 %></td>    
                      <td><%= gamelogs[i].userId %></td>
                      <td><%= gamelogs[i].score %></td>
                    </tr>
                  <% } %>
        </tbody>
            </table>
        </div>
    </div>
  </div>
   </body>
</html>