<!DOCTYPE html>
<html>
    <head>
        <title>LEGO</title>
        <!-- <link rel='stylesheet' href='/stylesheets/style.css'/> -->
        <style>
          @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    } 
    nav{
      display: flex;
      height: 80px;
      width: 100%;
      background: #1b1b1b;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px 0 100px;
      flex-wrap: wrap;
    }
    nav .logo{
      color: #fff;
      font-size: 35px;
      font-weight: 600;
    }
    nav ul{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    nav ul li{
      margin: 0 5px;
    }
    nav ul li a{
      color: #f2f2f2;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding: 8px 15px;
      border-radius: 5px;
      letter-spacing: 1px;
      transition: all 0.3s ease;
    }
    nav ul li a.active,
    nav ul li a:hover{
      color: #111;
      background: #fff;
    }
    nav .menu-btn i{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      display: none;
    }
    input[type="checkbox"]{
      display: none;
    }
    @media (max-width: 1000px){
      nav{
        padding: 0 40px 0 50px;
      }
    }
    @media (max-width: 920px) {
      nav .menu-btn i{
        display: block;
      }
      #click:checked ~ .menu-btn i:before{
        content: "\f00d";
      }
      nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
      }
      #click:checked ~ ul{
        left: 0;
      }
      nav ul li{
        width: 100%;
        margin: 40px 0;
      }
      nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      #click:checked ~ ul li a{
        margin-left: 0px;
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: none;
        color: cyan;
      }
    }
    /* table */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

    </style>
    </head>
    <body>
        <nav>
        <div class="logo">
            LEGO
         </div>
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
             <li><a href="/games">Games</a></li>
             <li><a href="/ranking">Ranking</a></li>
             <li><a class="active" href="/board">Community</a></li>
             <li><a href="/developer">Developer</a></li>
             <li><a href="/mypage">My Page</a></li>
          </ul>
      </nav>
<h1 style="text-align: center;">게시물 수정</h1>

<form action="/board/update/done" method="POST" enctype="application/json">
    <table class="fl-table" border="1">
        <input type="hidden" name="boardId" value="<%= board.boardId %>"/>
        <tr>
            <td>작성자</td>
            <td><%= board.userId %></td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input style="width:100%;" type="text" name="title" id="title" value="<%= board.title %>" required/></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea style="width:100%;" name="body" id="body" cols="30" rows="10" required><%= board.body %></textarea></td>
        </tr>
    </table>

    <center>
    <button type="submit">수정</button>
  </center>
</form>

</body>
</html>